* {
    /* border: 2px solid red; */
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: lightcoral;
}

img {
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    background-color: orange;
}

.subtitle {
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

span {
    background-color: white;
    border: black 1px solid;
    padding: 0px;
}